<%= form_with scope: :task do |form| %>
  <%= render 'shared/error_messages' %>

  <h3><%= t('tasks.name') %></h3>
  <%= form.text_field :name %>
  <h3><%= t('tasks.detail') %></h3>
  <%= form.text_field :detail %>
  <p><%= form.submit %></p>
<% end %>
