<%= form_with scope: :task do |form| %>
  <%= render 'shared/error_messages' %>

  <h3><%= t('tasks.name') %></h3>
  <%= form.text_field :name %>
  <h3><%= t('tasks.detail') %></h3>
  <%= form.text_field :detail %>
  <h3><%= t('tasks.due_date') %></h3>
  <%= form.datetime_field :due_date %>
  <p><%= form.submit %></p>
<% end %>
