<h1>workbetter</h1>
<p><%= flash[:notice] %></p>
<p><%= link_to 'New Task', tasks_new_path %></p>
<ul>
  <% @tasks.each do |task| %>
    <li>
      <b><%= task.name %></b>
      <%= task.detail %>
      <%= link_to 'Detail', tasks_show_path(task) %>
      <%= link_to 'Edit', tasks_edit_path(task) %>
      <%= link_to 'Delete', tasks_destroy_path(task), :method => 'delete' %>
    </li>
  <% end %>
</ul>
