<p><%= link_to t('tasks.create'), tasks_new_path %></p>
<%= render 'search' %>
<p>
  <%= t('sort') %>:
  <%= link_to t('tasks.create_update_at'), tasks_index_path %>
  |
  <%= link_to t('tasks.due_date'), tasks_index_path(:sort => 'due_date') %>
</p>
<ul>
  <% @tasks.each do |task| %>
    <li>
      <b><%= task.name %></b>
      <%= task.detail %>
      <%= task.due_date ||= t('tasks.due_unfixed') %>
      <%= t("tasks.status.#{task.status}") %>
      <%= link_to t('detail'), tasks_show_path(task) %>
      <%= link_to t('edit'), tasks_edit_path(task) %>
      <%= link_to t('delete'), tasks_destroy_path(task), :method => 'delete' %>
    </li>
  <% end %>
</ul>
<hr>
<p><%= link_to 'keisei1092/workbetter', 'https://github.com/keisei1092/workbetter' %></p>
