<!DOCTYPE html>
<html>
  <head>
    <title>Workbetter<%= ' debug' if Rails.env.development? %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>workbetter</h1>
    <% if flash.any? %>
      <p><%= flash[:notice] %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
